<%- include('partials/header', { title, user: user }) %>

<h1 class="text-center my-4">All Posts [ <%= posts.length %> ]</h1>
<div class="row vh-100">
  <% if (posts.length > 0) { %> <% posts.forEach(post => { %>
  <div class="col-md-4 mb-4">
    <div class="card">
      <% if (post.images && post.images.length > 0) { %>
      <img
        src="<%= post.images[0].url %>"
        class="card-img-top"
        alt="Post Image"
      />
      <% } %>
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text">
          by <%= post.author.username %> on <%= post.createdAt.toDateString() %>
        </p>
        <a href="/posts/<%= post._id %>" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
  <% }) %> <% } else { %>
  <p class="text-center w-100">No posts available.</p>
  <% } %>
</div>

<%- include('partials/footer') %>
